# Data Analysis of Data Analysts

Project 1

In [1]:
# Dependencies and Setup
import os
import csv
import pandas as pd
from pathlib import Path
from matplotlib import pyplot as plt
import matplotlib.pyplot as plt
from scipy.stats import sem
from scipy.stats import linregress
import scipy.stats as st
import numpy as np
import requests
import json

# Import the API key
# from census import Census
# from config import geoapify_key

# File to Load (Remember to Change These)
#  = Path("../Resources/schools_complete.csv")
#  = Path("../Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
#  = pd.read_csv(school_data_to_load)
#  = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.

In [5]:
from config import acct_id
from config import api_key

#need to figure out how to pull specific city and state names
#maybe use itterow method
cities = ["San Francisco", "San Jose", "Austin"]
states = ["CA"]

base_url = f"https://api.careeronestop.org/v1/occupation/{acct_id}"
job = "Data%20Scientists"
params = "?training=false&interest=true&videos=false&tasks=false&dwas=false&wages=true" \
         "&alternateOnetTitles=false&projectedEmployment=true&ooh=false" \
         "&stateLMILinks=false&relatedOnetTitles=false&skills=false&knowledge=false" \
         "&ability=false&trainingPrograms=false"

api_urls = []

for city in cities:
#    for state in states:
        api_url = f"{base_url}/{job}/{city},%20{states}{params}"
        api_urls.append(api_url)

for api_url in api_urls:
    print(api_urls)
    
# request = requests.get(api_urls).json()
# add in the iterrows to help out

["https://api.careeronestop.org/v1/occupation/ugcMWBfqfagOmvO/Data%20Scientists/San Francisco,%20['CA']?training=false&interest=true&videos=false&tasks=false&dwas=false&wages=true&alternateOnetTitles=false&projectedEmployment=true&ooh=false&stateLMILinks=false&relatedOnetTitles=false&skills=false&knowledge=false&ability=false&trainingPrograms=false", "https://api.careeronestop.org/v1/occupation/ugcMWBfqfagOmvO/Data%20Scientists/San Jose,%20['CA']?training=false&interest=true&videos=false&tasks=false&dwas=false&wages=true&alternateOnetTitles=false&projectedEmployment=true&ooh=false&stateLMILinks=false&relatedOnetTitles=false&skills=false&knowledge=false&ability=false&trainingPrograms=false", "https://api.careeronestop.org/v1/occupation/ugcMWBfqfagOmvO/Data%20Scientists/Austin,%20['CA']?training=false&interest=true&videos=false&tasks=false&dwas=false&wages=true&alternateOnetTitles=false&projectedEmployment=true&ooh=false&stateLMILinks=false&relatedOnetTitles=false&skills=false&knowledge=false&ability=false&trainingPrograms=false"]
["https://api.careeronestop.org/v1/occupation/ugcMWBfqfagOmvO/Data%20Scientists/San Francisco,%20['CA']?training=false&interest=true&videos=false&tasks=false&dwas=false&wages=true&alternateOnetTitles=false&projectedEmployment=true&ooh=false&stateLMILinks=false&relatedOnetTitles=false&skills=false&knowledge=false&ability=false&trainingPrograms=false", "https://api.careeronestop.org/v1/occupation/ugcMWBfqfagOmvO/Data%20Scientists/San Jose,%20['CA']?training=false&interest=true&videos=false&tasks=false&dwas=false&wages=true&alternateOnetTitles=false&projectedEmployment=true&ooh=false&stateLMILinks=false&relatedOnetTitles=false&skills=false&knowledge=false&ability=false&trainingPrograms=false", "https://api.careeronestop.org/v1/occupation/ugcMWBfqfagOmvO/Data%20Scientists/Austin,%20['CA']?training=false&interest=true&videos=false&tasks=false&dwas=false&wages=true&alternateOnetTitles=false&projectedEmployment=true&ooh=false&stateLMILinks=false&relatedOnetTitles=false&skills=false&knowledge=false&ability=false&trainingPrograms=false"]
["https://api.careeronestop.org/v1/occupation/ugcMWBfqfagOmvO/Data%20Scientists/San Francisco,%20['CA']?training=false&interest=true&videos=false&tasks=false&dwas=false&wages=true&alternateOnetTitles=false&projectedEmployment=true&ooh=false&stateLMILinks=false&relatedOnetTitles=false&skills=false&knowledge=false&ability=false&trainingPrograms=false", "https://api.careeronestop.org/v1/occupation/ugcMWBfqfagOmvO/Data%20Scientists/San Jose,%20['CA']?training=false&interest=true&videos=false&tasks=false&dwas=false&wages=true&alternateOnetTitles=false&projectedEmployment=true&ooh=false&stateLMILinks=false&relatedOnetTitles=false&skills=false&knowledge=false&ability=false&trainingPrograms=false", "https://api.careeronestop.org/v1/occupation/ugcMWBfqfagOmvO/Data%20Scientists/Austin,%20['CA']?training=false&interest=true&videos=false&tasks=false&dwas=false&wages=true&alternateOnetTitles=false&projectedEmployment=true&ooh=false&stateLMILinks=false&relatedOnetTitles=false&skills=false&knowledge=false&ability=false&trainingPrograms=false"]

In [10]:
#Section 1b
#Linear regression (scatter-plot) - State population (census csv), 
# data analysts, per state, projected growth per state
all_state_pop = pd.read_csv('census_state_pop_20to22.csv', index_col='NAME')

all_state_pop

,SUMLEV,REGION,DIVISION,STATE,ESTIMATESBASE2020,POPESTIMATE2020,POPESTIMATE2021,POPESTIMATE2022,NPOPCHG_2020,NPOPCHG_2021,...,RDEATH2021,RDEATH2022,RNATURALCHG2021,RNATURALCHG2022,RINTERNATIONALMIG2021,RINTERNATIONALMIG2022,RDOMESTICMIG2021,RDOMESTICMIG2022,RNETMIG2021,RNETMIG2022
NAME,,,,,,,,,,,,,,,,,,,,,
United States,10,0,0,0,331449520,331511512,332031554,333287557,61992,520042,...,10.363828,10.350218,0.434073,0.736729,1.133397,3.038912,0.000000,0.000000,1.133397,3.038912
Northeast Region,20,1,0,0,57609156,57448898,57259257,57040406,-160258,-189641,...,9.780142,9.868918,0.206629,0.511200,1.402708,3.752662,-4.855348,-8.061896,-3.452640,-4.309234
New England,30,1,1,0,15116206,15074473,15121745,15129548,-41733,47272,...,9.530598,9.887115,-0.310502,-0.206669,1.770752,4.655140,1.546021,-3.767839,3.316773,0.887301
Middle Atlantic,30,1,2,0,42492950,42374425,42137512,41910858,-118525,-236913,...,9.869304,9.862369,0.391400,0.769581,1.271205,3.427836,-7.142565,-9.607444,-5.871360,-6.179608
Midwest Region,20,2,0,0,68985537,68961043,68836505,68787595,-24494,-124538,...,11.059195,11.169148,-0.207043,-0.125530,0.802714,2.111084,-2.645374,-2.529339,-1.842660,-0.418255
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Washington,40,4,9,53,7705247,7724031,7740745,7785786,18784,16714,...,8.400898,9.117040,2.264113,1.737928,1.809144,4.831987,-1.990071,-0.461146,-0.180927,4.370841
West Virginia,40,3,5,54,1793755,1791420,1785526,1775156,-2335,-5894,...,15.341020,16.649619,-5.665727,-6.829029,0.406492,0.995877,1.602484,0.266241,2.008976,1.262118
Wisconsin,40,2,3,55,5893725,5896271,5880101,5892539,2546,-16170,...,10.496442,10.770227,-0.305357,-0.298659,0.541593,1.388643,-3.209987,1.300813,-2.668394,2.689456
Wyoming,40,4,8,56,576837,577605,579483,581381,768,1878,...,10.706187,11.506947,-0.063954,-0.844199,0.233344,0.589216,3.085331,3.707583,3.318676,4.296800
Puerto Rico,40,X,X,72,3285874,3281557,3262693,3221789,-4317,-18864,...,10.189403,10.518034,-4.445735,-4.458953,-1.319326,-8.157012,0.000000,0.000000,-1.319326,-8.157012

In [42]:
pop22 = all_state_pop[['POPESTIMATE2022']]
#pop22
state_pop22_part1 = pop22[14:22]
state_pop22_part2 = pop22[23:65]

state_pop_clean = pd.concat([state_pop22_part1, state_pop22_part2], axis=0, ignore_index=False)
print(state_pop_clean)

print(f'\nThere are {len(state_pop_clean)} states in this dataset.')

                POPESTIMATE2022
NAME
Alabama                 5074296
Alaska                   733583
Arizona                 7359197
Arkansas                3045637
California             39029342
Colorado                5839926
Connecticut             3626205
Delaware                1018396
Florida                22244823
Georgia                10912876
Hawaii                  1440196
Idaho                   1939033
Illinois               12582032
Indiana                 6833037
Iowa                    3200517
Kansas                  2937150
Kentucky                4512310
Louisiana               4590241
Maine                   1385340
Maryland                6164660
Massachusetts           6981974
Michigan               10034113
Minnesota               5717184
Mississippi             2940057
Missouri                6177957
Montana                 1122867
Nebraska                1967923
Nevada                  3177772
New Hampshire           1395231
New Jersey              9261699
New Mexico              2113344
New York               19677151
North Carolina         10698973
North Dakota             779261
Ohio                   11756058
Oklahoma                4019800
Oregon                  4240137
Pennsylvania           12972008
Rhode Island            1093734
South Carolina          5282634
South Dakota             909824
Tennessee               7051339
Texas                  30029572
Utah                    3380800
Vermont                  647064
Virginia                8683619
Washington              7785786
West Virginia           1775156
Wisconsin               5892539
Wyoming                  581381

There are 50 states in this dataset.